body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    max-width: 375px;
    max-height: 667px;
    text-align: center;
    margin: auto;
    padding: 60px;
    background-color: rgb(253, 155, 44);
}

.btn{
font-family:Arial, Helvetica, sans-serif;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
margin: 60px;}

footer{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(54, 53, 53);
}