body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    max-width: 375px;
    max-height: 667px;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: rgb(253, 155, 44);
}

header{
    height: 40px;
}

.button{
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 60px;}

footer{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    height: fit-content;
    padding: 5px;
    position:fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    background-color: rgb(89, 26, 26);
    width: 375px;
}

#antwort1 , #antwort2 , #antwort3 {
    padding: 15px 40px;
    font-size: 14px;
    color: black;
    border-radius: 10px;
    width: 200px;
    align-content: center;
}

.katbtn{
    padding: 15px 40px;
    font-size: 14px;
    color: black;
    border-radius: 10px;
    width: 160px;
    align-content: center;
}

.hidden {
    display: none ;
}

#kategoriebox {
    height: 400px;
    margin-top: 70px;
    flex-direction: column;

}

#frageseite{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px;
}

#Fragebox{
    font-size: 25px;
    background-color: aliceblue;
    width: 320;
    height: 220px;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 15px;

}

#Antwortboxen{
    display:inline-flex;
    flex-direction: column;
    height: 180px;
    justify-content: space-between;
    cursor: pointer;
}

#weiterbtnpingu{
    margin-top: 17px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;

}
